@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
:root{
    --bg-dark-1: #131415;
    --bg-dark-2: #09090e;
    --text-color-dark: #09090e;
    --text-color-white: #ffffff;
    --secondary-white: #aaddcc26;
    --asset-color: #ff002e;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 1em;
  }
  
  ::-webkit-scrollbar-track {
    background: #23232e;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff5252;
  }
  /* custom selection */
   ::selection {
    background: var(--asset-color);     
    color: #fff;
   } 
a{
    text-decoration: none;
    color: var(--bg-dark-2);
}
ul {
    list-style: none;
}
html{

    scroll-behavior: smooth !important;
}
body{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 2.1em;
}
nav,.container{
    /* width: 85%; */
    padding:1.2em 10em;
}
nav{
    /* background-color: #ff002e; */
}
nav > div {
    display: inline;

    float: right;
}
nav > div > a{
    padding: .5em 0.5em;
}

.hamburger-icon{
    display: none;
}

/*hero section start here*/
.row{
    display: flex;
}
.col-lg-8{

    flex: 60%;
}
.col-lg-4{
    flex: 40%;
}
.hero{
    margin: 5em 0;
}
.hero h1{
    font-size: 2.5em;
    font-weight: 900;
    line-height: 2.6em;
}
.hero-name > span{
    font-size: .5em;
    line-height: .5em;
    display: block;
}
.hero span::after{
    /* content: 'kadel'; */
}
.lead{
    max-width: 550px;
    line-height: 2.1em;
}
.hero ul{
    margin-top: 2em;
}
.hero > .row > .col-lg-4{
    text-align: center;
    /* background-color: red !important; */
}
.image-responsive{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 25px 25px 0 var(--asset-color);
}
.social{

    margin-top: 2em;
}
.social a{
    padding: .22em;
}
.social .fab{
    font-size: 1.24em;
    padding: .65em;
    color: var(--text-color-white);
    background-color: var(--bg-dark-1);
    border-radius: 50%;
}
.social .fab:hover{
    /* background: var(--bg-dark-2); */
    transition: 220ms ease-in;
    animation: rotateEffect ease-in 500ms;
    background: var(--asset-color);
    /* transition: 300ms ease-in; */
}
@keyframes rotateEffect{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(120deg);
    }
    75%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container h2{
    font-size: 2em;
    /* text-decoration: underline; */
    margin-bottom: 1.2em;
}
.container h3{
    font-size: 1.22em;
    margin: .88em 0;
}
.container p{
    font-weight: 500 !important;
    font-size: 1.1em;
}
.tech span{
    align-items: center;
    display: inline-flex;
    height: 100%;
    max-width: 100%;
    /* padding:  .2em;
    margin: .5em; */
    border: 1px solid var(--bg-dark-1);
    border-radius: 16px;
    font-size: 14px;
    height: 32px;
    padding: 0 1em;
    margin: .2em .25em;
    font-weight: 600;
    cursor: -webkit-grabbing;
}
.tech span:hover{
    background: var(--bg-dark-1);
    color: var(--text-color-white);
    transition: 180ms ease-in;
}
/*project section*/
.card{
    /* width: 80%; */
    background: var(--secondary-white);
    /* background: var(--asset-color); */
    margin: 0 auto; /* Added */
    padding: 2em;
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    /* position: relative; */
    /* align-content: center; */
}
.card-heading{
    line-height: 2em;
}
.card-desc, .card-tech{
    line-height: 2em;
    display: block;
}
.card-tech{

    margin-bottom: 1.2em;
}
.card-tech span{

    padding: 2.5px;
}
.card span:first-child{
    background-color: #ade;
}
.card span:nth-child(2){
    background-color: #dce;
}
.card span:nth-child(3){
    background-color: #adb;
}
.card a{
    /* margin: 2.83em 0 !important; */
    background: var(--bg-dark-1);
    color: var(--text-color-white);
    /* opacity: .6; */
    padding: .82em;
    font-weight: 800;
    /* line-height: 2em; */
    /* text-align: center; */
}
.contact .social{
    margin-bottom: 2em;
}
.contact h1{
    line-height: 1.6em;
    font-size: 2.5em;
    padding-left: .2em;
}
.contact h2{
    /* line-height: .2em; */
    font-weight: 500;
}
.contact h4{
    margin: 1.2em 0;
}
.contact h4::before{
    content: 'â—';
    color: var(--asset-color);
    align-content: center;
}
.contact a:hover{
    color: var(--asset-color);
    transition: 300ms ease-in;
}
footer{
    text-align: center;
    background: var(--secondary-white);
    padding-bottom: 1.2em;
}
footer a{
    font-weight: 800;
    color: var(--bg-dark-2);
}
/*media query*/
@media screen and (max-width:550px){
    .hero h1{
        font-size: 1.5em !important;
        line-height: 1em !important;
        max-width: 80vw !important;
    }
    p{
        font-size: 1.3em !important;
    }
}
@media screen and (max-width:750px){
    nav,.container{
        margin:1.2em 1em;
        padding: 0;
    }
    nav > div > a{
        padding: 0.1em 0.1em;
    }
    nav > div {
        display: inline;
        float: none;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
    .col-lg-8,.col-lg-4{
        flex: 100% !important;
    }
    .hamburger-icon{
        display: block;
        float: right;
    }
    .topnav a:not(:last-child) {display: none;}
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive .hamburger-icon{
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .hero-name > span {
        /* font-size: .5em; */
        line-height: 1.5em;
    }
    .image-responsive{
        margin: .8em;
        /* float: left; */
    }
      /* .card-desc, .card-tech{
        line-height: 1.6em;
        margin: 1.2em 0;
        display: block;
    } */
    .contact h2{
        font-size: 1.2em;
    }
    .contact h1 a{
        font-size: 1.3em !important;
    }
}

